@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(240, 235, 235);
  justify-content: center;
}

#jumbotron {
  margin: 0 auto;
  text-align: center;
}

#bearForm {
  margin: 0 auto;
  justify-content: center;
  max-width: 50rem;
}

.card-title {
  text-align: center;
}

#nameErrorMessage,
#urlErrorMessage {
  text-align: center;
  color: red;
}

#river {
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
  margin: 32px auto;
  justify-content: center;
  max-width: 75rem;
}

.bear-card {
  margin: 5px;
}
