@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  justify-content: center;
  background-image: url("https://user-images.githubusercontent.com/83558122/132263485-a557d2dd-43e9-4abf-b7b5-4799cbc365be.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbotron {
  margin: 0 auto;
  text-align: center;
  background-color: #e9ecefdd;
}

#bearForm {
  margin: 0 auto;
  justify-content: center;
  max-width: 50rem;
}

.card-title {
  text-align: center;
}

#nameErrorMessage,
#urlErrorMessage {
  text-align: center;
  color: red;
}

#awardContainer,
#riverContainer {
  margin: 32px auto 32px auto;
  justify-content: center;
  max-width: 85rem;
  background-color: #e9ecefdd;
  border-radius: 10px;
}

#award-title,
#river-title {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

#fattestBear, #river {
  display: flex;
  flex-wrap: wrap;
  margin: 8px auto 32px auto;
  justify-content: center;
  max-width: 85rem;
}

.fattest-bear-card {
  margin: 10px;
  border-radius: 10px;
}

.gold-trophy { 
  color: yellow;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
}

.silver-trophy {
  color: lightgray;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
}

.bronze-trophy {
  color: #cd7f32;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
}

.fa-trophy {
  text-shadow: 0px 0px 5px black;
}

.river-card {
  margin: 10px;
  border-radius: 5px;
}

.bear-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.river-buttons {
  margin: 5px;
}
